/* Main Container */

.main-container {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 670px;
    background-color: rgb(0, 0, 0);
}

/* Side Container */

.form-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: center;
}

/* Buttons */

.btn-left-container {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-form {
    background-color: black;
    color: rgb(252, 213, 162);
    border-style: solid;
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
    width: 60%;
    margin-top: 30px;
}

.dropdown-menu-dark {
    background-color: black;
}

.dropdown-item:hover {
    background-color: black;
    color: rgb(252, 213, 162);
}



.btn-form:hover,
.submit-btn:hover,
.btn-header:hover {
    border: 2px solid rgb(252, 213, 162);
    font-weight: bolder;
}

.btn-add {
    color: rgb(252, 213, 162);
    border-style: solid;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    margin-top: 10px;
    min-width: 40%;
    max-width: 250px;
}

.btn-del {
    color: rgb(252, 213, 162);
    border-style: solid;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    margin-top: 10px;
    position: relative;
    min-width: 40%;
    max-width: 250px;
}

.btn-submit {
    color: rgb(252, 213, 162);
    border-style: solid;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px 20px;
    min-width: 30%;
    max-width: 250px;
}


/* Logo */
.logo-container {
    margin-top: 10%;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.connect-logo {
    min-width: 45%;
}

/* Resume Container */

.resume-container {

    height: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(252, 213, 162);
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav-link{
    color: rgb(252, 213, 162);
}

.nav-link:hover, .nav-tabs-link{
    border: 1px solid rgb(252, 213, 162);
    color: #dee2e6;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: rgb(252, 213, 162);
    font-weight: bold;
}

.form-label,
.form-check,
.c-white {
    color: white;
}

.form-control,
.form-select,
input,
.form-control:focus,
.form-select:focus {
    border-radius: 0;
    background-color: black;
    color: white;
    lighting-color: black;
    border-color: rgb(252, 213, 162);
    box-shadow: none;
}

.form-control[type="date" i] {
    position: relative;
}

.form-control[type="date" i]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

.form-control[type="date" i]:before {
    color: white;
    background: none;
    display: block;
    font-family: 'FontAwesome';
    content: '\f073';
    /* This is the calendar icon in FontAwesome */
    width: 20px;
    height: 20px;
    position: absolute;
    right: 6px;
    color: rgb(255, 255, 255);
}

#superior-container{
    display: flex;
    flex-direction: column;
}

/* Job Experience Container*/

#job-experience{
    position: relative;
}

.del-xp-container{
    display: flex;
    justify-content: flex-end;
}